# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Qt Meta Object files
*.moc

# KDevelop files
*kdev*

# Misc
*~
*.backup
*.log
*.aux
*.dvi
*.toc
